---
const categorias = [
  'Todos',
  'Camisetas',
  'Pantalones',
  'Busos',
  'Accesorios'
];

const color = [
  "Amarillo",
  "Azul",
  "Blanco",
  "Habano",
  "Morado",
  "Negro",
  "Rojo",
  "Rosa",
  "Verde"
];

const secciones = ['Hombres', 'Mujeres', 'Unisex'];
const tamaños = ['S', 'M', 'L', 'XL'];
---

<section class="flex flex-col md:flex-row gap-6 max-w-7xl mx-auto px-4">
<aside id="filtros-sidebar" class="fixed top-16 left-0 bottom-0 z-40 bg-white/90 border-r border-gray-200 backdrop-blur-md p-5 w-50 sm:w-70 transform -translate-x-full transition-transform duration-300 overflow-y-auto max-h-290 md:border md:border-primario md:rounded-xl md:relative md:translate-x-0 md:p-5 md:shadow-none md:bg-white/70 md:backdrop-blur-[5px] md:static md:inset-auto md:z-auto">
    <div class="text-3xl md:text-5xl font-bold text-primario">Secciones</div>
    <form class="mt-2 space-y-2 font-medium text-xl md:text-2xl text-secundario">
      {secciones.map(seccion => (
        <label class="flex items-center gap-2 transition mb-2">
          <input type="checkbox" name="seccion" value={seccion} class="accent-purple-600 w-5 h-5" />
          {seccion}
        </label>
      ))}
    </form>

    <div class="border-t border-primario pt-4">
      <details>
        <summary class="font-semibold text-2xl md:text-3xl cursor-pointer text-primario mb-2">Categorías</summary>
        <form class="mt-2 space-y-2 text-lg md:text-xl text-secundario">
          {categorias.map(cat => (
            <label class="flex items-center gap-2 transition mb-2">
              <input type="checkbox" name="categoria" value={cat} class="accent-orange-600 w-5 h-5" />
              {cat}
            </label>
          ))}
        </form>
      </details>
    </div>

    <div class="border-t pt-4 border-primario">
      <details>
        <summary class="font-semibold text-2xl md:text-3xl cursor-pointer text-primario mb-2">Colores</summary>
        <form class="mt-2 space-y-2 text-lg md:text-xl text-secundario">
          {color.map(col => (
            <label class="flex items-center gap-2 transition mb-2">
              <input type="checkbox" name="color" value={col} class="accent-purple-600 w-5 h-5" />
              {col}
            </label>
          ))}
        </form>
      </details>
    </div>

    <div class="border-t pt-4 border-primario">
      <details>
        <summary class="font-semibold text-2xl md:text-3xl cursor-pointer text-primario">Tamaños</summary>
        <form class="mt-2 space-y-2 text-lg md:text-xl text-secundario">
          {tamaños.map(tam => (
            <label class="flex items-center gap-2 transition">
              <input type="checkbox" name="tamaño" value={tam} class="accent-purple-600 w-5 h-5" />
              {tam}
            </label>
          ))}
        </form>
      </details>
    </div>
  </aside>
</section>
